<div class="container">
    <p>dashboard works!</p>
    <div class="row">
        <div class="col-6"><button class="btn btn-link p-0" style="min-width: unset" id="qsLogoutBtn"
                (click)="logout()">
                Log out
            </button>
        </div>
        <div class="col-6"><button class="btn btn-link p-0" style="min-width: unset" id="qsLogoutBtn"
                (click)="testApi()">
                Test API
            </button>
        </div>
    </div>

    <div>
        <pre>{{responseJson}}</pre>
    </div>

    <div class="container mt-5" *ngIf="auth.user$ | async as user">
        <div class="row align-items-center profile-header mb-5 text-center text-md-left">
            <!-- <div class="col-md-2">
                <img [src]="user.picture" class="rounded-circle img-fluid profile-picture mb-3 mb-md-0" />
            </div> -->
            <div class="col-md">
                <h2>{{ user.name }}</h2>
                <p class="lead text-muted">{{ user.email }}</p>
            </div>
        </div>

        <div class="row" *ngIf="profileJson">
            <pre class="rounded"><code class="json">{{profileJson}}</code></pre>
        </div>
    </div>
</div>