<nav class="navbar fixed-bottom navbar-light bg-light">
    <div class="container-fluid">
        <ul class="nav nav-justified w-100" role="tablist">
            <!-- <li class="nav-item">
                <a class="nav-link active" routerLink="/dashboard" [routerLinkActive]="['active']">
                    <span><i class="fa-solid fa-house"></i></span>
                </a>
            </li> -->
            <li class="nav-item">
                <a class="nav-link active" routerLink="/weight" [routerLinkActive]="['active']">
                    <span><i class="fa-solid fa-weight-scale"></i></span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" routerLink="/measurements" [routerLinkActive]="['active']">
                    <span><i class="fa-solid fa-ruler"></i></span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" routerLink="/blood-pressure" [routerLinkActive]="['active']">
                    <span><i class="fa-solid fa-heart-pulse"></i></span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" routerLink="/settings" [routerLinkActive]="['active']">
                    <span><i class="fa-solid fa-user-gear"></i></span>
                </a>
            </li>
        </ul>
    </div>
</nav>