<div class="container pt-3">

    <div class="fab-floating">
        <button mat-fab routerLink="/blood-pressure/add">
            <mat-icon><i class="fa-solid fa-plus fa-large"></i></mat-icon>
        </button>
    </div>

    <div class="row pb-2" *ngFor="let log of bloodPressureLogs">
        <div class="col-12">
            <mat-card appearance="outlined">
                <mat-card-header>
                    <mat-card-subtitle>{{log.recordDate | date:'MMM d, y, h:mm a'}}</mat-card-subtitle>
                    <mat-card-title>
                        {{log.systolic}}/{{log.diastolic}} <span class="pressure-units">mmHg </span> <span class="pulse ps-4">{{log.pulse}} <span class="pressure-units">BPM </span></span> </mat-card-title>
                </mat-card-header>
                <mat-card-content>
                </mat-card-content>
            </mat-card>
        </div>
    </div>


</div>

<app-spinner></app-spinner>